*{
    margin: 0;
    padding: 0;
}

@keyframes mianimation{

    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

@-webkit-keyframes mianimation{

    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
@-moz-keyframes mianimation{

    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
/* colocamos el fondo en toda  la pantalla */
#fondo1{
    position:  absolute;
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg);
    animation: mianimation 24s linear 18s infinite;
    -webkit-animation: mianimation 24s linear 18s infinite;
    -moz-animation: mianimation 24s linear 18s infinite;
    z-index: 1;
}

#fondo2{
    position:  absolute;
    width: 100%;
    height: 100%;
    background: url(../img/background2.jpg);
    animation: mianimation 24s linear 12s infinite;
    -webkit-animation: mianimation 24s linear 12s infinite;
    -moz-animation: mianimation 24s linear 12s infinite;
    z-index: 2;
}

#fondo3{
    position:  absolute;
    width: 100%;
    height: 100%;
    background: url(../img/background3.jpg);
    animation: mianimation 24s linear 6s infinite;
    -webkit-animation: mianimation 24s linear 6s infinite;
    -moz-animation: mianimation 24s linear 6s infinite;
    z-index: 3;
}

#fondo4{
    position:  absolute;
    width: 100%;
    height: 100%;
    background: url(../img/background4.jpg);
    animation: mianimation 24s linear 0s infinite;
    -webkit-animation: mianimation 24s linear 0s infinite;
    -moz-animation: mianimation 24s linear 0s infinite;
    z-index: 4;
}
