.row{
    margin-bottom: 20px;
    padding: 10px 0;
}

.col-md-8, .col-md-4, .col-md-6{
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;  
    padding: 15px 0;
    border-radius: 4px;
    margin: 5px 0;
}

.row:nth-child(odd .col-md-8,.col-md-4,.col-md-6){
    background-color: #e9ecef;

}
*{
    margin-left: 40px;
    margin-right: 40px;
}
.col-md-4:hover,.col-md-6:hover,.col-md-8:hover{
    background-color: #d1e7ff;
    border-color: #86b7fe;

}
