* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}
.contenedor-negro {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    justify-content: center;
}
.caja {
    background-color: #00739d;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
.caja img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


@media (max-width: 1024px) {
    .caja {
        height: 180px;
    }
}

@media (max-width: 768px) {
    .galeria {
        gap: 1rem;
    }
    .caja {
        height: 150px;
    }
    .caja img {
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 480px) {
    .caja {
        height: 200px;
        max-width: 200px;
    }
}
