
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1, h2, h3 {
            color: #333;
        }
        .header, .section {
            margin-bottom: 20px;
        }
        .header {
            text-align: center;
        }
        .header img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        .section-title {
            border-bottom: 2px solid #333;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        .section-content {
            margin-left: 20px;
        }
        .section-content p {
            margin: 5px 0;
        }
