
.row>.col, .row>[class^=col-]
 {
    min-height: 0rem;
    padding-top: .50rem;
    padding-bottom: .50rem;
    background-color: rgba(26, 153, 231, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}
